.model-settings-panel {
  .file-upload {
    border-radius: $border-radius;
    background: $gray-100;

    .form-label {
      margin: 0;
      color: $body-color;
      width: 100%;
      cursor: pointer;
    }
  }

  .empty-result {
    @include d-flex-center;

    min-height: 374px;
  }
}
