.subscription-panel {
  .card {
    .img-panel {
      text-align: center;
    }
  }
}

.upload-panel {
  border: 1px dashed $border-color;
  border-radius: $border-radius;
  padding: 1.5rem;
}

.import-panel {
  border-radius: $border-radius;
  background: $gray-400;
  padding: 1rem;
  margin-bottom: 1rem;
}
