.alert {
  color: $black;

  &.alert-success {
    background: rgba($success, 0.1);
  }

  &.alert-warning {
    background: rgba($warning, 0.1);
  }

  &.alert-danger {
    background: rgba($danger, 0.1);
  }
}
