body {
  min-width: 360px;
  background: $gray-100;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: $gray-200;

  &:hover {
    background: $gray-300;
  }
}

::-webkit-scrollbar-thumb {
  background: $gray-600;

  &:hover {
    background: $secondary;
  }
}

a {
  color: $black;
  outline: 0;
  cursor: pointer;
}

b,
strong {
  font-weight: $font-weight-bold;
}

img {
  max-width: 100%;
}

.fs-sm {
  font-size: $font-size-sm;
}

.fs-lg {
  font-size: $font-size-lg;
}

.fw-medium {
  font-weight: $font-weight-medium;
}

.fw-semibold {
  font-weight: $font-weight-semibold;
}

.main-content-panel {
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$header-height});

  .title-panel {
    padding: 1.5rem;
  }

  .content-panel {
    flex: 1;
    overflow-y: auto;
    padding: 0 1.5rem 1.5rem;
  }
}

@mixin d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-dot {
  padding-left: 1rem;

  li {
    margin-top: 1.5rem;
  }
}
