.pagination-panel {
  padding: 1.5rem;

  .pagination {
    margin-bottom: 0;
  }

  .page-item {
    .active {
      border-radius: $border-radius-sm;
    }

    &.disabled {
      cursor: not-allowed;

      .page-link {
        opacity: 0.25;
      }
    }
  }
}
