.signin-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: $primary;
  overflow-y: auto;

  .brand {
    margin-bottom: 1.5rem;
  }

  .card {
    border: none;
    box-shadow: $box-shadow-lg;
  }
}
