footer {
  font-size: $font-size-xs;
  padding: 1.5rem;
  background: $gray-100;
  transition: $transition-base;

  .footer-brand {
    img {
      max-width: 72px;
    }
  }
}

.close {
  + .main-panel {
    footer {
      margin-left: $sidebar-sm-width;
      transition: $transition-base;

      @include media-breakpoint-down(lg) {
        margin-left: 0;
      }
    }
  }
}
