.icon-rounded {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 4px;
  border-radius: $border-radius-pill;

  &.success {
    background: $success;
  }

  &.warning {
    background: $warning;
  }

  &.danger {
    background: $danger;
  }
}

.icon {
  &.lg {
    width: 32px;
    height: 32px;
  }

  &.md {
    width: 24px;
    height: 24px;
  }

  &.sm {
    width: 16px;
    height: 16px;
  }

  &.xs {
    width: 12px;
    height: 12px;
  }

  &.fill-primary {
    fill: $primary;

    .fill {
      fill: $primary;
    }
  }

  &.fill-primary-800 {
    fill: tint-color($primary, 20%);

    .fill {
      fill: tint-color($primary, 20%);
    }
  }

  &.fill-secondary {
    fill: $secondary;

    .fill {
      fill: $secondary;
    }
  }

  &.fill-tertiary {
    fill: $tertiary;

    .fill {
      fill: $tertiary;
    }
  }

  &.fill-quad {
    fill: $quad;

    .fill {
      fill: $quad;
    }
  }

  &.fill-danger {
    fill: $danger;

    .fill {
      fill: $danger;
    }
  }

  &.fill-warning {
    fill: $warning;

    .fill {
      fill: $warning;
    }
  }

  &.fill-info {
    fill: $info;

    .fill {
      fill: $info;
    }
  }

  &.fill-muted {
    fill: $text-muted;

    .fill {
      fill: $text-muted;
    }
  }

  &.fill-black {
    fill: $black;

    .fill {
      fill: $black;
    }
  }

  &.fill-white {
    fill: $white;

    .fill {
      fill: $white;
    }
  }

  &.stroke-primary {
    path {
      stroke: $primary;
    }

    .stroke {
      stroke: $primary;
    }
  }

  &.stroke-primary-800 {
    path {
      stroke: tint-color($primary, 20%);
    }

    .stroke {
      stroke: tint-color($primary, 20%);
    }
  }

  &.stroke-secondary {
    path {
      stroke: $secondary;
    }

    .stroke {
      stroke: $secondary;
    }
  }

  &.stroke-tertiary {
    path {
      stroke: $tertiary;
    }

    .stroke {
      stroke: $tertiary;
    }
  }

  &.stroke-quad {
    path {
      stroke: $quad;
    }

    .stroke {
      stroke: $quad;
    }
  }

  &.stroke-danger {
    path {
      stroke: $danger;
    }

    .stroke {
      stroke: $danger;
    }
  }

  &.stroke-warning {
    path {
      stroke: $warning;
    }

    .stroke {
      stroke: $warning;
    }
  }

  &.stroke-info {
    path {
      stroke: $info;
    }

    .stroke {
      stroke: $info;
    }
  }

  &.stroke-muted {
    path {
      stroke: $text-muted;
    }

    .stroke {
      stroke: $text-muted;
    }
  }

  &.stroke-black {
    path {
      stroke: $black;
    }

    .stroke {
      stroke: $black;
    }
  }

  &.stroke-white {
    path {
      stroke: $white;
    }

    .stroke {
      stroke: $white;
    }
  }
}
