.table-layout-panel {
  border: 1px solid $border-color;

  .table-head {
    background: $gray-400;
    padding: 1rem 1.5rem;

    .icon-hide {
      display: block;

      .icon {
        opacity: 0;
      }

      &:hover {
        text-decoration: none;

        .icon {
          opacity: 1;
          transition: $transition-base;
        }
      }
    }

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .table-row {
    padding: 1rem 1.5rem;
    border-top: 1px solid $border-color;
    word-break: break-all;

    @include media-breakpoint-down(md) {
      white-space: nowrap;
      overflow: auto;

      &:nth-child(2) {
        border-top: none;
      }
    }

    &:hover {
      cursor: pointer;
      background: rgba($gray-400, 0.4);
    }

    .btn-link {
      padding: 0;
    }

    .badge {
      font-size: $font-size-sm;
      padding: 0.5rem;
      line-height: 0.5rem;

      &.bg-completed {
        color: $success;
        border: 1px solid rgba($success, 0.1);
        background: rgba($success, 0.1);
      }

      &.bg-failed {
        color: $danger;
        border: 1px solid rgba($danger, 0.1);
        background: rgba($danger, 0.1);
      }
    }

    .edit-input {
      width: 72px;

      input {
        border: none;
        box-shadow: none;
        background: none;
        padding: 0;
      }
    }
  }

  .icon-arrow {
    border: 1px solid $border-color;
    border-radius: $border-radius-sm;
    padding: 0;

    svg {
      fill: $gray-600;
    }

    &.active {
      svg {
        fill: $primary-color;
      }
    }
  }
}
